body {
	background-color: rgb(245,245,245);
}
section#matrice {
	margin-top: 50px;
	padding-top: 50px;
	height: 230px;
}
section#matrice input {
	cursor: pointer;
}
section#matrice aside#score p:first-child {
	position: absolute;
	opacity: 0;
	margin-top: 30px;
	margin-left: 10px;
	width: 20%;
	color: grey;
	font-size: 140%;
	text-align: right;
}
section#matrice aside#score p:first-child span {
	color: limeGreen;
}
section#matrice aside#score p:last-child {
	opacity: 0;
	float: left;
	margin-top: 55px;
	margin-left: 10px;
	padding-right: 80px;
	width: 20%;
	color: grey;
	font-size: 500%;
	text-align: right;
}
section#matrice aside#score p:last-child span {
	margin-left: 10px;
	color: grey;
	font-size: 50%;
}
section#matrice #middle {
	margin-left: 34%;
}
section#matrice #middle table {
	float: left;
	margin-top: -20px;
	font-size: 150%;
	border-collapse: collapse;
	text-align: center;
}
section#matrice #middle table tr td {
	border: 1px solid grey;
	color: grey;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
section#matrice #middle input#start {
	margin-top: 49px;
}
section#matrice #middle aside#infos {
	border-left: 1px solid grey;
	margin-top: 20px;
	margin-left: 200px;
	padding-left: 30px;
	height: 120px;
}
section#matrice #middle aside#infos p {
	display: none;
	font-size: 120%;
	font-family: "Arial";
}
section#matrice #middle aside#infos p:nth-child(2) {
	padding-top: 18px;
	font-size: 120%;
}
section#matrice #middle aside#infos p:last-child {
	margin-top: 40px;
	color: grey;
}
section#matrice aside#timer {
	margin-top: -262px;
	margin-left: 74%;
	width: 200px;
	text-align: center;
	font-size: 800%;
	color: rgb(200,200,200);
}
section#matrice #middle > input {
	display: none;
	position: absolute;
	margin-top: 120px;
	margin-left: 8px;
	color: grey;
}
section#matrice #middle > input:hover {
	color: black;
}
footer #progress-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 5px solid rgb(120,120,120);
}