/** VARIABLES **/

@background: #151618;
@main: #2d313a;
@dark: #1f2228;
@light: #6c6f78;
@white: #a5a5a8;
@green: #206f48;
@red: #683235;
@blue: #48f;
@gold: #886f2a;
@silver: #828295;
@bronze: #60483c;

/** MIXINS **/

.timerColors-840p() {
	color: @light;
	border-color: @light;
}

.newBestLabelAndRankColor() {
	color: #bbb;
}

.rightsBlinkBrightness() {
	filter: brightness(1.5);
}

.gridBorder() {
	border-width: 0;
}

.boxesColorWhenRights() {
	color: @main;
}

.howToColor() {
	color: @light;
}

.rulesCloseColor() {
	color: @light;
}

.rulesButtonsBgColors() {

	color: @white !important;
	background-color: @dark !important;

	&:not(.disabled):hover {
		background-color: #22252c !important;
	}

	&:not(.disabled):active {
		background-color: #25282f !important;
	}

}

.rulesTitlesColor() {
	color: @white;
}

.rulesParagraphsColor() {

	color: @light;
	filter: none;

	a {
		color: @light;
	}

}

.rulesHrColor() {
	border-bottom-color: @main;
	opacity: 1;
}

.leaderboardColorsAndRankColor() {

	color: #85858a;
	background-color: #1a1b1f;

	.leaderboard-content .entry {

		&.active {
			color: @white;
			background: rgba(0,0,0,.2) !important;
			border-bottom-color: @white;
		}

		.rank-wrapper {
			color: @main;
			font-weight: 700;
			filter: brightness(1.3);
		}
	}

}

.progressBarColors(){
	background-color: rgba(0,0,0,.15);
	border-top-color: @light;
}

.panelsValueColor() {
	color: @light;
}

.buttonsBgColors() {

	background-color: @white;

	&:not(.disabled):hover {
		background-color: #b2b2b5;
	}

	&:not(.disabled):active {
		background-color: #bcbcbf;
	}

}

.boxesThumbsBgColor() {
	background-color: @light;
	border-color: @light;
}